@page
@model MovieModel

<div class="movie">
    <img class="movie_background" src="@Model.backdrop_path" alt="">
    <div class="wrapper">
        <div class="movie_details">
            <h1 class="movie_title">@Model.title</h1> 
            <img class="movie_poster" src="@Model.poster_path" alt="">
        </div>

        <div class="movie_info">
            <h2 class="title">OVERVIEW</h2>
            <p class="desc">@Model.overview</p>
            <h2 class="title">RELEASED DATE</h2>
            <p class="desc">@Model.release_date</p>
            <h2 class="title">BUDGET</h2>
            <p class="desc">@Model.budget</p>
            <h2 class="title">REVENUE</h2>
            <p class="desc">@Model.revenue</p>

        </div>

        <div class="movie_videos">
            @if(Model.videoURLs.Count > 0) {
            <select id="video_DDL" class="movie_select" name="youtubeDDL" title="Select a video to play" onchange="switchVideo(this.value)">
                @for (int i=0; i < @Model.videoURLs.Count-1; i++) {
                    <option class="movie_option" value="@Model.videoURLs[i]" selected>
                        @Model.videoNames[i]
                    </option>
                }
            </select>

            <iframe id="videoName" class="movie_video" width="800px" height="530px"
                src="@Model.videoURLs[0]">
            </iframe>
            }
        </div>
    </div>
    <div class="movie_cast">
        @for (int i = 0; i < Model.CAST_COUNT; i++) {
            <form class="movie_cast_form" method="POST" asp-page-handler="CastDetail">
                <img class="movie_cast_profile" src="@Model.castProfiles[i]"/>
                <span class="movie_cast_name">@Model.castNames[i]</span>
                <input class="movie_cast_input" type="submit" name="castID" value="@Model.castIDs[i]">
            </form>
        }
    </div>

    <h1 class="recommend">Recommendations</h1>
    <div class="similar">
        @for(int i = 0; i < Model.movieTitles.Count; i++) {
            @if(Model.posterURLs[i] is not null) {
                <form class="similar_movie" method="POST" asp-page-handler="Similar">
                    <img class="similar_img" src="@Model.posterURLs[i]"/>
                    <p class="similar_title">@Model.movieTitles[i]</p>
                    <input class="similar_input" type="submit" value="@Model.movieIDs[i]" name="movieID">
                </form>
            }
        } 
    </div>
</div>